In [2]:
3. Perform the following operations on iris dataset
1. Display mean, median, minimum, maximum, standard deviation
2. Provide mean, median, minimum, maximum, standard deviation for a
given dataset by grouping using one of the qualitative (categorical)
variable
3. Display missing values and inconsistencies.
4. Replace missing values using any 2 suitable

SyntaxError: invalid syntax (3992931989.py, line 1)

In [3]:
import pandas as pd
import numpy as np
import statistics

In [4]:
df=pd.read_csv("iris.csv")

In [5]:
data = df.groupby(["Species"])
data.agg([np.sum, np.mean, np.max,np.std,statistics.mode])

C:\Users\rajas\AppData\Local\Temp\ipykernel_10492\2619840169.py:2: FutureWarning: The provided callable <function sum at 0x0000021D33C0E5F0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  data.agg([np.sum, np.mean, np.max,np.std,statistics.mode])
C:\Users\rajas\AppData\Local\Temp\ipykernel_10492\2619840169.py:2: FutureWarning: The provided callable <function mean at 0x0000021D33C0F520> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  data.agg([np.sum, np.mean, np.max,np.std,statistics.mode])
C:\Users\rajas\AppData\Local\Temp\ipykernel_10492\2619840169.py:2: FutureWarning: The provided callable <function max at 0x0000021D33C0EC20> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  data.agg([np.sum, np.mean, np.max,np.std,statistics.mode])
C:\Users\rajas\AppData\Local\Temp\ipykernel_10492\2619840169.py:2: FutureWarning: The provided callable <function std at 0x0000021D33C0F640> is currently using SeriesGroupBy.std. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "std" instead.
  data.agg([np.sum, np.mean, np.max,np.std,statistics.mode])
C:\Users\rajas\AppData\Local\Temp\ipykernel_10492\2619840169.py:2: FutureWarning: The provided callable <function sum at 0x0000021D33C0E5F0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  data.agg([np.sum, np.mean, np.max,np.std,statistics.mode])

                   Id                            SepalLengthCm              \
                  sum   mean  max       std mode           sum   mean  max
Species
Iris-setosa      1275   25.5   50  14.57738    1         250.3  5.006  5.8
Iris-versicolor  3775   75.5  100  14.57738   51         296.8  5.936  7.0
Iris-virginica   6275  125.5  150  14.57738  101         329.4  6.588  7.9

                                ... PetalLengthCm                             \
                      std mode  ...           sum   mean  max       std mode
Species                         ...
Iris-setosa      0.352490  5.1  ...          73.2  1.464  1.9  0.173511  1.5
Iris-versicolor  0.516171  5.5  ...         213.0  4.260  5.1  0.469911  4.5
Iris-virginica   0.635880  6.3  ...         277.6  5.552  6.9  0.551895  5.1

                PetalWidthCm
                         sum   mean  max       std mode
Species
Iris-setosa             12.2  0.244  0.6  0.107210  0.2
Iris-versicolor         66.3  1.326  1.8  0.197753  1.3
Iris-virginica         101.3  2.026  2.5  0.274650  1.8

[3 rows x 25 columns]

In [ ]:
df.groupby(["Species"])["SepalWidthCm"].apply(statistics.mode)

Species
Iris-setosa        3.4
Iris-versicolor    3.0
Iris-virginica     3.0
Name: SepalWidthCm, dtype: float64

In [ ]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [ ]:
data = df.groupby(["Species"])["SepalWidthCm"]
data.agg([np.sum,np.min,np.max,np.std,statistics.mode,np.median])

C:\Users\rajas\AppData\Local\Temp\ipykernel_15616\3630700459.py:2: FutureWarning: The provided callable <function sum at 0x000002268FE4AB90> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  data.agg([np.sum,np.min,np.max,np.std,statistics.mode,np.median])
C:\Users\rajas\AppData\Local\Temp\ipykernel_15616\3630700459.py:2: FutureWarning: The provided callable <function min at 0x000002268FE4B2E0> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  data.agg([np.sum,np.min,np.max,np.std,statistics.mode,np.median])
C:\Users\rajas\AppData\Local\Temp\ipykernel_15616\3630700459.py:2: FutureWarning: The provided callable <function max at 0x000002268FE4B1C0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  data.agg([np.sum,np.min,np.max,np.std,statistics.mode,np.median])
C:\Users\rajas\AppData\Local\Temp\ipykernel_15616\3630700459.py:2: FutureWarning: The provided callable <function std at 0x000002268FE4BBE0> is currently using SeriesGroupBy.std. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "std" instead.
  data.agg([np.sum,np.min,np.max,np.std,statistics.mode,np.median])
C:\Users\rajas\AppData\Local\Temp\ipykernel_15616\3630700459.py:2: FutureWarning: The provided callable <function median at 0x000002268FF77250> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  data.agg([np.sum,np.min,np.max,np.std,statistics.mode,np.median])

                   sum  min  max       std  mode  median
Species
Iris-setosa      170.9  2.3  4.4  0.381024   3.4     3.4
Iris-versicolor  138.5  2.0  3.4  0.313798   3.0     2.8
Iris-virginica   148.7  2.2  3.8  0.322497   3.0     3.0